.forum-actions {
  display: flex;
  justify-content: space-between;
}

.thread-link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.thread-link-main {
  display: flex;
  align-items: center;

  h3 {
    margin-left: 30px;
    margin-right: 10px;
  }
}

.new-thread-button {
  position: fixed;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 100px;
  font-weight: bold;
  font-size: xx-large;

  a {
    color: white;
    text-decoration: none !important;
  }
}

.forum-thread-category {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  background-color: var(--primary-color);
  color: white;
  width: max-content;
  font-weight: bold;
}
