.signup-container {
  form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 10px;
    margin-bottom: 10px;

    .signup-form-inputs {
      width: 45%;
      display: grid;
      .inputs {
        display: grid;
        align-content: center;
        input {
          width: -webkit-fill-available;
        }
      }
      .signup-form-actions {
        button {
          font-weight: bold;
        }
        .signup-form-actions-primary {
          display: flex;
          button {
            width: 50%;
          }
        }
      }
    }

    img {
      width: 50%;
      max-height: 70vh;
      border-radius: 6px;
    }
  }

  .profile-image-form {
    display: flex;
    width: auto;
    flex-direction: column;
    align-content: flex-start;
    margin: auto;

    button {
      width: 98%;
      font-weight: bold;
    }
  }
}

.signup-back {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
