.popular {
  margin: 0 auto;
  justify-items: center;
  width: calc(100vw - 15px);
  margin: auto;
}

.catalog {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  margin: auto;
}

.image-container {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.feedback {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
}

.feedback-card {
  box-shadow: 0 4px 8px 0 rgba(111, 111, 111, 0.2);
  transition: 0.3s;
  background-color: rgb(244, 244, 244);
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  width: 33.33%;
}

.feedback-card:hover {
  box-shadow: 0 8px 16px 0 rgba(7, 7, 7, 0.2);
  transition: 0.3s;
  transform: translateY(-2px);
}

.profile-info {
  display: flex;
  justify-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.no-results {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: medium;
  color: #181818;
}
