.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .order-status {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
  }
}

.order-body {
  display: flex;
  position: relative;

  .order-details {
    margin-left: 20px;
    margin-right: 20px;
    width: -webkit-fill-available;
    position: relative;

    .location-details {
      display: flex;
      justify-content: space-between;

      * {
        cursor: pointer;
      }
    }

    .order-item {
      display: flex;
      align-items: center;
    }
  }

  .order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .details {
      display: flex;
      align-items: center;

      .detail {
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

.map-route-button {
  position: absolute;
  top: 400px;
  right: 5px;
  border-radius: 50px;
  padding: 10px;
  z-index: 90px;
}
