.ticket-view-container {
  display: flex;
  padding: 30px;
}

.Edit-Delete {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ticket-type {
  display: grid;
  align-content: space-between;
  margin-right: 30px;
}
