.product-card {
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: white;
  margin: 1rem;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-image {
  height: 200px;
  width: 100%;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  margin: 25px;
}

.price{
  font-weight:700;
  font-size: medium;
}

.action-btns {
  display: flex;
  justify-content: space-between;
}
