.profile-image {
  border-radius: 300px;
  color: white;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  font-weight: bold;
  background-color: #2f2f2f;
  margin: auto;
  border: 2px solid white;
}
