.actions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sales-management-actions {
  display: flex;
  flex-wrap: wrap;

  .action {
    margin: 5px;
  }
}

.expenses-table {
  overflow: scroll;
  max-height: 400px;
}
